.card--details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card--poster {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card--img_poster {
  display: flex;
  width: 70%;
  border-radius: 10px;
  object-fit: cover;
}

.card--description {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 50px;
  text-align: justify;
  gap: 20px;
  height: 100%;
  color: white;
}

.card--container_title--year {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2px;
}

.card--container_title {
  font-weight: bold;
  font-size: 24px;
}

.card--container_year {
  font-weight: 100;
  font-size: 18px;
}

.card--container_plot {
  font-size: 22px;
}

.card--container_description {
  font-size: 18px;
  letter-spacing: 1px;
}

@media (max-width: 599px) {
  .card--details {
    flex-direction: column;
  }

  .card--poster {
    height: 0%;
    margin-top: 10em;
  }
  .card--container_title--year {
    position: absolute;
    top: 5%;
    width: 80%;
    align-items: end;
  }
  .card--container_title {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .card--poster {
    height: 70%;
    justify-content: flex-start;
  }
  .card--img_poster {
    width: 50%;
  }
  .card--details {
    margin-top: 5em;
  }
}
