.homePage {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
}

.homePage--containerHeader {
  display: flex;
  width: 100%;
  position: fixed;
  flex-direction: row;
  height: max-content;
  justify-content: space-between;
  z-index: 1500;
  background: rgb(8, 15, 40) !important;
}

.homePage--container {
  background: #080f28;
  padding: 20px;
  width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.homePage--titleHome {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #8da0bc;
  text-shadow: 1px 5px #0000006e;
  margin: 1em 0;
}

.pagination-lg {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.pagination .page-link {
  background-color: #4f6b95b8 !important;
  border-radius: 0.25rem;
  font-weight: bolder;
}

.active > .page-link,
.page-link.active {
  border-width: 3px;
}

.homePage--noMatch {
  display: flex;
  color: #b6c4d7;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-shadow: 1px 5px #0000006e;
}

@media ((min-width: 600px) and (max-width: 750px)) {
  .offcanvas.show:not(.hiding),
  .offcanvas.showing {
    width: 60% !important;
  }
}
