.homePage--container{
    background: #080f28;
    
    padding: 20px;
    height: 100%;
    max-height: 350vh;
    min-height: 100vh;
}

.homePage--titleHome{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #8da0bc;
    text-shadow: 1px 5px #0000006e;
    margin-top: 1em;
}