.surprise--section{
    display: flex;
    position: absolute;
    z-index: 900;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-direction: column;
    color: #8da0bc;
    text-shadow: 1px 5px #0000006e;
    gap: 5em;
    margin-top: 5em;
}