.surprise--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.surprise--container_section {
  width: 60%;
  height: 100%;
  justify-content: center;
  display: flex;
  padding-top: 3em;
}
.surprise--cardMovie {
  transition: 2s;
  position: absolute;
  display: flex;
}
.surprise--container_box {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
}
.surprise--click {
  display: flex;
  right: 60%;
  top: 65%;
}

.home--surprise {
  position: absolute;
  z-index: 1;
  top: 2%;
  left: 2%;
}

.surprise--box {
  width: 100%;
  display: flex;
}

@media (min-width: 700px) {
  .surprise--cardMovie {
    transition: 2s;
    position: absolute;
    left: 28%;
    width: 45%;
  }
}

@media ((min-width: 700px) and (max-width: 900px)) {
  .surprise--container_section {
    width: 60%;
    height: 50%;
    justify-content: center;
    display: flex;
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .surprise--cardMovie {
    left: 34%;
  }
}
